<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ellison.jetpackdemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".MyApplication"
        android:debuggable="true"
        android:allowBackup="true"
        android:icon="@drawable/ic_jetpack"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.JetpackDemo">

        <activity android:name=".MainActivity"
            android:configChanges="uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".viewBinding.DemoActivity"
            android:exported="false">
        </activity>

        <activity android:name=".viewModel.DemoActivity"
            android:exported="false">
        </activity>

        <activity android:name=".databinding.DemoActivity"
            android:exported="false">
        </activity>

        <activity android:name=".viewModelBinding.DemoActivity"
            android:exported="false">
        </activity>

        <activity android:name=".lifecycle.DemoActivity"
            android:exported="false"
            android:label="LifeCycle">
        </activity>

        <activity android:name=".liveData.DemoActivity"
            android:exported="false">
        </activity>

        <activity android:name=".old.DemoActivity"
            android:theme="@style/Theme.JetpackDemoOld"
            android:exported="false">
        </activity>

        <activity android:name=".appCompat.DemoActivity"
            android:exported="false">
        </activity>

        <!-- <activity android:name=".cameraX.DemoActivityLite"-->
        <activity android:name=".cameraX.NewCameraXActivity"
            android:theme="@style/Theme.JetpackDemoFullScreen"
            android:exported="false">
        </activity>

        <activity android:name=".camera2.DemoActivity"
            android:theme="@style/Theme.JetpackDemoFullScreen"
            android:exported="false">
        </activity>

        <activity android:name=".room.DemoActivity"
            android:label="Room"
            android:exported="false">
        </activity>

        <activity android:name=".coroutines.DemoActivity"
            android:label="Coroutines"
            android:exported="false">
        </activity>

        <activity android:name=".hilt.DemoActivity"
            android:label="Hilt"
            android:exported="false">
        </activity>
    </application>

</manifest>